VITE_DATA_SOURCE=baserow
VITE_SHOW_DIAGNOSTICS=false

VITE_BASEROW_API_URL=https://api.baserow.io
VITE_BASEROW_TOKEN=
VITE_BASEROW_EVENTS_TABLE_ID=1063239
VITE_BASEROW_MEMBERS_TABLE_ID=1063241
VITE_BASEROW_ATTENDANCE_TABLE_ID=1063242
VITE_BASEROW_PLACES_TABLE_ID=
